body {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
p {
    margin: 0;
    padding: 0;
    text-transform: lowercase;
    text-align:center;
}

img {
    max-width: 200px;
}

.foc {
    display:flex;
}